<%- include('header') %>

<div class="background">
    <div class="content">
        <h2>Teams <i class="fas fa-basketball-ball"></i></h2>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
                <th scope="col">Founded</th>
                <th scope="col">Championships</th>
            </tr>
            </thead>
            <tbody>
            <% teams.forEach(function(team){ %>
                <tr>
                    <td>
                        <%= team.name %>
                    </td>
                    <td>
                        <%= team.abbreviation %>
                    </td>
                    <td>
                        <%= team.founded %>
                    </td>
                    <td>
                        <%= team.champ %>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <a href="/team/new" class="btn btn-block btn-primary">New team</a>
    </div>
</div>
</div>

<%- include('footer') -%>
